
# 忽略 server 目录下的构建目录
/server/cmake-build-debug/
/server/cmake-build-aliyun-debug/
/server/bin/

# 忽略 IDE 配置文件
/server/.idea/
/.idea/

# 忽略 client 
/client/build/
/client/CMakeLists.txt.user
/client/*.qrc
